///////////////////////////////////////////////////////////////////////////////////////////////////
// By importing the custom bootstrap variables into modules, all bootstrap variables, functions  //
// and mixins are available to the modules.                                                      //
///////////////////////////////////////////////////////////////////////////////////////////////////
@import '../../global-styles/custom-bootstrap-variables';

.footer {
  padding-top: 1rem;
  text-align: center;
  left: 0px;
  right: 0px;
  position: fixed;
  bottom: 15px;
}
