.perspectiveContainer {
  display: block;
  perspective: 160px;
  height: 100%;
  width: 100%;

  & .openedCard {
    transform: rotateY(180deg);
  }
}

.cardWithBorder {
  transition: transform 0.5s;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-style: preserve-3d;
}

.cardBack {
  background-image: url('./images/CardBack.svg');
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cardFront {
  backface-visibility: hidden;
  height: 100%;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cardFrontImageContainer {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  margin: 0;
}

.cardFrontImage {
  visibility: inherit;
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
